{% extends "base.html" %}
{% load static %}
{% block content %}

{% if searched %}
<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <br>
        <h1 class="jumbotron-heading">Search results</h1>
      </div>
    </section>

    <div class="album py-5">
      <div class="container">
        <div class="row">
          {% for post in results %}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn btn-outline-secondary" href="{% url 'forum:post_detail' post.id %}">View</a>
                    {% if user == post.author %} 
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    {% endif %}
                  </div>
                  <small class="text-muted">{{ post.write_date }}</small>
                  <small class="text-muted">{{ post.author }}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
{% endif %}
  </main>
{% endblock content %}