{% extends "base.html" %}
{% load static %}
{% block content %}

<main role="main">
  
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{com.name}}</h1>
      <p class="lead text-muted">Want more help? </p>
      <p>
      <form href="{% url 'community-detail' com.pk %}" method="GET">
      {% if user in com.members.all %}
        {% csrf_token %}
        <input type="submit" id="leave" name="leave" value="Leave Community"></input>
      {% else %}
        {% csrf_token %}
        <input type="submit" id="follow" name="follow" value="Follow Community"></button>
      </form>
      {% endif %}
        <a href="{% url 'community' %}" class="btn btn-secondary my-2">Go back</a>
      </p>
    </div>
  </section>
  
</main>
{% endblock content %}
