{% extends "base.html" %}
{% load static %}
{% block content %}

<center>
<p style="font-size:24px"><b>Username:</b></p>
<p style="font-size:20px">{{ user.username }}</p>
<p style="font-size:24px"><b>Profile Picture</b></p>
<img src= '{{ user.userprofile.image.url }}' width="250">

<p style="font-size:24px"><b>Email</b></p>
<p>{{ user.email }}</p>
<p>{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}</p>
<p style="font-size:24px"><b>About Me</b></p>
<p>{{ user.userprofile.about_me }}</p>
<a type="menu" href="{% url 'user-profile-edit' %}">Edit Profile</a>
</center>

{% endblock content %}
