{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Articles</h1>
      <p>
        {% if user.is_staff %}
        <a href="{% url 'articles:create_new_article_page' %}" class="btn btn-primary my-2">Make Article</a>
        {% endif %}
      </p>
    </div>
  </section>

<div class="album py-5">
    <div class="container">
      <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <h5 class="card-title">{{ article.title }}</h5>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm btn btn-outline-secondary" href="{% url 'articles:article_detail' article.id %}">View</a>
                  {% if user == post.author %} 
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  {% endif %}
                </div>
                <small class="text-muted">{{ post.write_date }}</small>
                <small class="text-muted">{{ post.author }}</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}