{% extends "base.html" %}
{% load static %}
{% block content %}

<h1>{{post.title}}</h1>
<u1>
    <li>{{ post.author }}</li>
    <li>{{ post.write_date }}</li>
    <li>{{ post.content }}</li>
</u1>
<a>Comments</a>
<u2>
    {% for comment in comments %}
        <li>{{ comment.comment }} (posted at {{comment.write_date}} by {{comment.commentor}})</li>
    {% endfor %}
</u2>

<form action="{% url 'forum:create_post' %}" method='post'>
    {% csrf_token %}
    <input type="hidden" id="username" name="username" value={{user.username}}>
    <label for="comment">Comment:</label><br>
    <input type="text" id="comment" name="comment"><br>
    <input type="submit" value="Add comment">
</form>

{% endblock content %}
